BODY {color:rgb(251, 0, 222) }
BODY {color:rgb(0, 251, 234) }

P {color:red; 
   font-size:20px;
   font-family:Courier;
   font-weight:bold;
   font-style:italic;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
  }

  P {color:rgb(0, 255, 242); 
   font-size:50px;
   font-family:Courier;
   font-weight:bold;
   font-style:italic;
   line-height:40px;
   letter-spacing:10px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
  }